@model ValueChain.ViewModels.OffTakersAnalysisVm

@{
    ViewBag.Title = "OffTakersAnalysis";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header text-center">
                    <h2>VOICE OF NIGERIA(VON)/VALUE CHAIN PROJECT CONSULTANTS LTD (VCPC) PARTNERSHIP</h2>
                    <p> <span class="text-danger">VALUE CHAIN MARKET AFFORDABILITY PLATFORM, VC-MAP, OFFTAKERS AFFORDABILITY CUMMULATIVE REPORT OF STAFF OF VON - GROUP 1</span></p>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="body">
                                <div class="table-responsive">
                                    <table class="table table-hover m-b-5">
                                        <thead>
                                            <tr>
                                                <th>HOUSE TYPES</th>
                                                <th>HOUSE CHOICE COUNT</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>STUDIO APT + EQUITY</td>
                                                <td>@Model.StudioAptEquityCount</td>
                                            </tr>
                                            <tr>
                                                <td>STUDIO APT</td>
                                                <td>@Model.StudioAptCount</td>
                                            </tr>
                                            <tr>
                                                <td>1 BEDROOM</td>
                                                <td>@Model.OneBedRmCount</td>
                                            </tr>
                                            <tr>
                                                <td>2 BEDROOM</td>
                                                <td>@Model.TwoBedRmCount</td>
                                            </tr>
                                            <tr>
                                                <td>3 BEDROOM</td>
                                                <td>@Model.ThreeBedRmCount</td>
                                            </tr>
                                            <tr>
                                                <td>4 BEDROOM</td>
                                                <td>@Model.FourBedRmDuplexCount</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-hover m-b-5">
                                    <thead>
                                        <tr>
                                            <th>AFFORDABILITY RANGE</th>
                                            <th>PQS COUNT</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>0 - 3M</td>
                                            <td>@Model.StudioAptEquityCount</td>
                                        </tr>
                                        <tr>
                                            <td>3M - 4M</td>
                                            <td>@Model.StudioAptCount</td>
                                        </tr>
                                        <tr>
                                            <td>4M - 6M</td>
                                            <td>@Model.OneBedRmCount</td>
                                        </tr>
                                        <tr>
                                            <td>6M - 8M</td>
                                            <td>@Model.TwoBedRmCount</td>
                                        </tr>
                                        <tr>
                                            <td>8M - 12M</td>
                                            <td>@Model.ThreeBedRmCount</td>
                                        </tr>
                                        <tr>
                                            <td>ABOVE 15M</td>
                                            <td>@Model.FourBedRmDuplexCount</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-hover m-b-5">
                                    <thead>
                                        <tr>
                                            <th>MOU PRICES</th>
                                            <th>AFFORDABILITY MATCH</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td>@Model.ChoiceAffordabilityMatchStudioAptEquityCount</td>
                                        </tr>
                                        <tr>
                                            <td>3.5M</td>
                                            <td>@Model.ChoiceAffordabilityMatchStudioAptCount</td>
                                        </tr>
                                        <tr>
                                            <td>4.3M</td>
                                            <td>@Model.ChoiceAffordabilityMatchOneBedRmCount</td>
                                        </tr>
                                        <tr>
                                            <td>8.3M</td>
                                            <td>@Model.ChoiceAffordabilityMatchTwoBedRmCount
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>9.1M</td>
                                            <td>@Model.ChoiceAffordabilityMatchThreeBedRmCount</td>
                                        </tr>
                                        <tr>
                                            <td>15M</td>
                                            <td>@Model.ChoiceAffordabilityMatchFourBedDuplexCount</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
